<h2>Add a new task<h2>
<form action="/created_task" method="POST">
<p>	
</p>
<input type="text" name="task" placeholder="New Task"> 
<p>
</p>
<button type="submit" name="enter" value="submitting">Enter</button>
<p>
</p>
</form>