<h1>My First Sinatra</h1>
<p style='color:blue;'> <b>And here I am ....</b>Mel The Maci</p>

<img src="/coding_is_fun.jpg"
	 alt="A smily face with LONG teeth image">

<p>The date today is: <%= Date.today %> </p>

<% if Date.today.tuesday? %>
	<h2>It's Tuesday!<h2>
	<p>
	I love my coding classess!!!
	</p>
<% end %>
