
@import "bootstrap-sprockets";
@import "bootstrap";

.header {
	padding-top: 15px;
	padding-bottom: 5px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	color: #484848;
}

link_to {
	color: #484848;
}

.logo { 
	background: image-url('Airbnb-logo.png') no-repeat;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}