<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>IMDB</title>
	<link rel="stylesheet" href="../style.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1>Welcome To Movie Lovers Trivia</h1>
	<h3>Search for a movie here</h3>
		<form action="/movie_term"><input type="text" name="movie_term" placeholder="Enter a movie term">  <br><br>
		  <input type="submit">
		</form>
</body>
</html>

